<template
    ><v-form ref="form" enctype="multipart/form-data" v-model="validForm">
        <v-row>
            <v-col cols="12" md="6" sm="6">
                <v-card>
                    <v-img height="235" :src="imagePreviewURL"></v-img>

                    <v-card-text>
                        <v-file-input
                            v-model="formReceita.file"
                            color="deep-purple accent-4"
                            counter
                            label="Imagem"
                            placeholder="Imagem da receita"
                            prepend-icon="mdi-paperclip"
                            outlined
                            :rules="[v => !!v || 'Valor é obrigatório']"
                            :show-size="1000"
                            @change="onFileChange($event)"
                            id="image"
                            ref="files"
                            type="file"
                            name="file"
                            accept="image/*"
                        >
                        </v-file-input> </v-card-text
                ></v-card>
            </v-col>
            <v-col cols="12" md="6" sm="6">
                <v-card>
                    <v-card-title
                        >Dados da Receita <v-spacer />
                        <v-btn text color="primary" @click="closeForm">
                            Voltar
                        </v-btn>
                    </v-card-title>
                    <v-card-text>
                        <v-col cols="12">
                            <v-text-field
                                label="Título"
                                v-model="formReceita.title"
                                placeholder="Título da receita"
                                :rules="[v => !!v || 'Valor é obrigatório']"
                                outlined
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                label="Descrição"
                                v-model="formReceita.description"
                                placeholder="Descrição da receita"
                                :rules="[v => !!v || 'Valor é obrigatório']"
                                outlined
                                required
                            ></v-text-field>
                        </v-col>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn
                            color="primary"
                            @click="$refs.form.validate() && handleFormSubmit()"
                        >
                            Cadastrar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-form>
</template>

<script>
import ReceitaService from "./../../services/api/ReceitaService";
export default {
    data() {
        return {
            validForm: false,

            key: "value",
            file: null,
            formReceita: {
                title: "",
                description: "",
                file: null
            },
            imagePreviewURL:
                "https://freelogo-assets.s3.amazonaws.com/sites/all/themes/freelogoservices/images/icons/bcstart_right_image.jpg"
        };
    },
    methods: {
        closeForm() {
            this.$emit("close-form");
        },
        handleFormSubmit() {
            const formData = new FormData();
            formData.append("file", this.formReceita.file);
            const { title, description } = this.formReceita;
            this.$emit("submit-form", {
                formData: formData,
                title: title,
                description: description
            });
            this.$refs.form.reset();
            this.imagePreviewURL =
                "https://freelogo-assets.s3.amazonaws.com/sites/all/themes/freelogoservices/images/icons/bcstart_right_image.jpg";
        },
        onFileChange(payload) {
            console.log("payload", payload);
            //const file = payload.target.files[0]; // use it in case of normal HTML input
            const file = payload; // in case vuetify file input
            if (file) {
                this.imagePreviewURL = URL.createObjectURL(file);
                this.formReceita.file = file;
            } else {
                this.imagePreviewURL = null;
            }
        }
    }
};
</script>

<style></style>
