<template>
    <v-card>
        <v-card-title>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Filtrar.."
                single-line
                hide-details
            >
            </v-text-field>
        </v-card-title>
        <v-data-table
            :loading="loading"
            :headers="headers"
            :items="items"
            :search="search"
            ><template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>
                        Receitas
                    </v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-menu rounded="custom" offset-y>
                        <template v-slot:activator="{ attrs, on }">
                            <v-btn
                                color="primary"
                                class="white--text ma-5"
                                v-bind="attrs"
                                v-on="on"
                                @click="handleClickNewItem"
                            >
                                Nova...
                            </v-btn>
                        </template>
                    </v-menu>
                </v-toolbar>
            </template>
            <template v-slot:item.updated_at="{ item }">
                <span>{{ new Date(item.updated_at).toLocaleString() }}</span>
            </template></v-data-table
        >
    </v-card>
</template>

<script>
export default {
    props: {
        items: {
            type: Array
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            search: "",
            headers: [
                { text: "Id", value: "id" },
                {
                    text: "Descrição",
                    align: "start",
                    value: "description"
                },
                { text: "Titulo", value: "title" },
                {
                    text: "Ultima atualização",
                    value: "updated_at"
                },
                { text: "Nota", value: "average" }
            ]
        };
    },
    methods: {
        handleClickNewItem() {
            this.$emit("click-new-item");
        }
    }
};
</script>

<style></style>
