<template>
    <div>
        <page-bar title="Receita" />
        <v-sheet
            id="scrolling-techniques-2"
            height="600"
            fluid
            class="pl-3 pr-3"
            style="padding-top: 140px;"
        >
            <v-container fluid>
                <transition v-if="showForm" name="slide-fade-form">
                    <form-receita
                        @close-form="handleTransitionFormTable"
                        v-if="showForm"
                        @submit-form="handleSubmitStoreReceita"
                    />
                </transition>
                <transition v-if="!showForm" name="slide-fade-table">
                    <receitas-table
                        :loading="loadingTable"
                        @click-new-item="handleTransitionFormTable"
                        :items="listReceitas"
                    />
                </transition> </v-container
            ><alert-snack-bar
                :alertSnackBarGoToLogin="false"
                :text="textAlertSnack"
                ref="ref-alert-snack-bar"
                :snackBarState="snackBarState"
            />
        </v-sheet>
    </div>
</template>

<script>
import ReceitasTable from "../components/Dashboard/ReceitasTable.vue";
import PageBar from "../components/PageBar.vue";

import ReceitaService from "../services/api/ReceitaService";
import FormReceita from "../components/Dashboard/FormReceita.vue";

import AlertSnackBar from "./../components/AlertSnackBar";

export default {
    components: {
        PageBar,
        ReceitasTable,
        FormReceita,
        AlertSnackBar
    },
    data() {
        return {
            key: "value",
            listReceitas: [],

            loadingTable: false,

            textAlertSnack: "",
            snackBarState: false,

            buttomHidden: false,
            showForm: false
        };
    },
    mounted() {
        this.getAllReceitas();
    },
    methods: {
        getAllReceitas() {
            this.loadingTable = true;
            ReceitaService.getAllReceitas()
                .then(rsp => {
                    this.loadingTable = false;
                    this.listReceitas = rsp.data;
                })
                .catch(error => {
                    this.loadingTable = false;
                });
        },
        handleTransitionFormTable() {
            this.showForm = !this.showForm;
        },
        handleSubmitStoreReceita(payload) {
            const { formData, title, description } = payload;
            ReceitaService.storeReceita(formData, title, description)
                .then(rsp => {
                    console.log("rsp storeReceita", rsp);
                    let receita = rsp.data;
                    this.listReceitas.push(receita);
                    this.textAlertSnack = "Receita cadastrada com sucesso !";
                    this.$refs["ref-alert-snack-bar"].show();
                })
                .catch(error => {
                    this.textAlertSnack = "Algo deu errado!";
                    this.$refs["ref-alert-snack-bar"].show();
                });
        }
    }
};
</script>

<style scoped>
/* Animações de entrada e saída podem utilizar diferentes  */
/* funções de duração e de tempo.                          */
.slide-fade-table-enter-active {
    transition: all 1s ease;
}
.slide-fade-table-leave-active {
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-table-enter, .slide-fade-table-leave-to
/* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.slide-fade-form-enter-active {
    transition: all 1s ease;
}
.slide-fade-form-leave-active {
    transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-form-enter, .slide-fade-form-leave-to
/* .slide-fade-leave-active em versões anteriores a 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
</style>
