<template>
    <v-app>
        <auth-bar />
        <div><router-view></router-view></div>
        <app-footer />
    </v-app>
</template>

<script>
import AuthBar from "./../components/PageBar.vue";
import AppFooter from "./../components/AppFooter.vue";
export default {
    components: { AuthBar, AppFooter },
    name: "Home"
};
</script>
