<template>
    <v-container class="column items-center">
        <login-register-bar title="Private Code"></login-register-bar>
        <v-layout align-center justify-center>
            <v-flex xs12 sm6 md8 class="pr-3 pt-6 pl-3 hidden-sm-and-down">
                <v-img
                    src="https://www.fenderbender.com/ext/resources/publication/2020/0720/Marketing.png?1593534325"
                ></v-img>
            </v-flex>
            <v-flex xs12 sm6 md4>
                <login-form
                    :loadingSubmitBottom="loading"
                    @submitFormLogin="submitForm"
                >
                </login-form>
                <v-alert dark shaped :value="alert" color="red">{{
                    msg
                }}</v-alert>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script setup>
import { mapActions } from "vuex";

import LoginForm from "./../components/login/LoginForm";
import LoginRegisterBar from "./../components/LoginRegisterBar";

import ReceitaService from "../services/api/ReceitaService";
import { saveToken, getToken } from "../services/jwt/index";

export default {
    components: {
        LoginRegisterBar,
        LoginForm
    },
    data() {
        return {
            validFormLogin: true,
            loading: false,
            msg: "",
            alert: false
        };
    },
    methods: {
        submitForm(payload) {
            this.loading = true;
            this.alert = false;
            this.msg = "";
            const { email, password } = payload;

            ReceitaService.login({
                email: email,
                password: password
            })
                .then(rsp => {
                    this.loading = false;
                    this.loadingData = false;
                    const user = rsp.data.user;
                    localStorage.setItem("user", JSON.stringify(user));
                    // axios.defaults.headers.common.Authorization = `Bearer ${rsp.data.token}`;
                    saveToken(rsp.data.token);
                    axios.defaults.headers.common.Authorization =
                        "Bearer " + getToken();

                    user.is_admin
                        ? this.$router.push("/dashboard")
                        : this.$router.push("/home");
                })
                .catch(error => {
                    console.log("Error Catch", error);
                    this.loading = false;
                    this.msg = "Login ou senha inválidos";
                    this.alert = true;
                    this.loadingData = false;
                });
        }
    }
};
</script>

<style lang="scss" scoped></style>
