<template>
    <v-main>
        <v-container>
            <login-register-bar
                color="primary"
                title="Minhas Receitas"
            ></login-register-bar>
            <v-container fluid class="mt-4">
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md6>
                        <register-form
                            :validationErrors="validationErrors"
                            :loadingSubmitBottom="loading"
                            @submitFormRegister="submit"
                        ></register-form>

                        <v-alert :value="alert" color="red">{{ msg }}</v-alert>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
        <alert-snack-bar
            :alertSnackBarGoToLogin="true"
            :text="textAlertSnack"
            ref="ref-alert-snack-bar"
            :snackBarState="snackBarState"
        />
    </v-main>
</template>

<script>
import LoginRegisterBar from "../components/LoginRegisterBar";
import RegisterForm from "../components/register/RegisterForm.vue";

import CulinariaService from "../services/api/ReceitaService";
import AlertSnackBar from "./../components/AlertSnackBar";

export default {
    components: {
        LoginRegisterBar,
        RegisterForm,
        AlertSnackBar
    },
    data() {
        return {
            msg: "",
            alertSnackBarGoToLogin: false,
            validationErrors: {},
            textAlertSnack: "",
            snackBarState: false,
            alert: false,
            loading: false
        };
    },

    mounted() {},

    methods: {
        handleLoginClick() {
            this.$router.push("/login");
        },

        submit(payload) {
            console.log("payload", payload);
            const { name, email, password, isAdmin } = payload;
            this.loading = true;

            CulinariaService.register({
                name: name,
                email: email,
                password: password,
                password_confirmation: password,
                isAdmin: isAdmin
            })
                .then(({ data }) => {
                    this.loading = false;
                    this.alertSnackBarGoToLogin = true;
                    this.textAlertSnack =
                        "Sucesso !! Vá para a interface de Login";
                    this.$refs["ref-alert-snack-bar"].show();
                    console.log("Resp", data);
                })
                .catch(error => {
                    this.loading = false;
                    this.alertSnackBarGoToLogin = false;
                    this.validationErrors = error.response.data.errors;
                    this.textAlertSnack = "algo de errado";
                    this.$refs["ref-alert-snack-bar"].show();
                });
        }
    }
};
</script>

<style lang="less" scoped></style>
