<template>
    <div class="text-center ma-2">
        <v-snackbar v-model="snackBarState">
            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn color="pink" text v-bind="attrs" @click="handleClick">
                    Close
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: "Usuário cadsatrado com sucesso !"
        },
        alertSnackBarGoToLogin: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            snackBarState: false
        };
    },
    methods: {
        show() {
            this.snackBarState = true;
        },
        handleClick() {
            if (this.alertSnackBarGoToLogin) {
                this.$router.push("/login");
                return;
            }
            this.snackBarState = false;
        }
    }
};
</script>

<style></style>
