<template>
    <v-card>
        <template slot="progress">
            <v-progress-linear
                color="deep-purple"
                height="10"
                indeterminate
            ></v-progress-linear>
        </template>

        <v-img height="130" :src="receita.image_url">
            <v-card-title class="pt-0 white--text align-end ">{{
                receita.title
            }}</v-card-title>
        </v-img>

        <v-card-title class="pt-3 pb-0 subtitle-1 text-truncate">
            {{ receita.title }}
            <v-spacer></v-spacer>
            <v-btn @click="handleNoteClicked(receita.id)" icon>
                <v-icon>mdi-heart</v-icon>
            </v-btn>
        </v-card-title>

        <v-card-text class="pb-0 mx-auto">
            <v-row align="center" class="my-2 mx-0">
                <v-rating
                    :value="1"
                    color="amber"
                    dense
                    half-increments
                    readonly
                    size="14"
                ></v-rating>

                <div class="grey--text ms-4">
                    4.5 (avaliação)
                </div>
            </v-row>
            <div class="secondary--text text-truncate">
                {{ receita.description }}
            </div>
        </v-card-text>
        <v-divider class="mx-4"></v-divider>

        <v-card-actions>
            <v-spacer />
            <template v-if="receita">
                <v-btn
                    color="primary lighten-2"
                    text
                    @click="handleReceitaDetails(receita.id)"
                >
                    Ver Receita
                </v-btn>
            </template>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        receita: {
            type: Object
        }
    },
    methods: {
        handleNoteClicked(idReceita) {
            this.$emit("note-clicked", idReceita);
        },
        handleReceitaDetails(id) {
            this.$router.push({
                name: "receita_details",
                params: { id: id }
            });
        }
    }
};
</script>

<style>
.headerClass {
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
