<template>
    <v-app-bar
        absolute
        color="primary"
        dark
        shrink-on-scroll
        src="https://picsum.photos/1920/1080?random"
        scroll-target="#scrolling-techniques-2"
    >
        <template v-slot:img="{ props }">
            <v-img
                v-bind="props"
                gradient="to top right, rgba(242, 117, 28, 0.98), rgba(128,208,199,.8)"
            ></v-img>
        </template>

        <v-app-bar-title>{{ title }}</v-app-bar-title>

        <v-spacer></v-spacer>

        <v-btn icon title="Sair" v-if="getToken()" @click="handleLogout">
            <v-icon>mdi-logout</v-icon>
        </v-btn>
    </v-app-bar>
</template>

<script>
import { destroyToken, getToken } from "../services/jwt/index";
export default {
    props: {
        title: {
            type: String,
            default: "Bem-vindo"
        }
    },
    data() {
        return {
            isAuth: false,
            getToken
        };
    },
    methods: {
        handleLogout() {
            destroyToken();
            this.$router.push("/login");
        }
    },
    created() {
        this.isAuth = getToken();
    }
};
</script>

<style></style>
