<template>
    <v-timeline class="mx-2" align-top :dense="$vuetify.breakpoint.smAndDown">
        <v-timeline-item
            v-for="(avaliacao, i) in avaliacoesList"
            :key="i"
            fill-dot
            ><template v-slot:icon>
                <v-avatar title="Nota">
                    {{ avaliacao.value }}
                </v-avatar>
            </template>
            <v-card :color="avaliacao.color" dark>
                <v-card-title class="text-h7 pb-0">
                    {{ avaliacao.username }}
                </v-card-title>
                <v-card-text>
                    <p>" {{ avaliacao.comment }} "</p>
                </v-card-text>
            </v-card>
        </v-timeline-item>
    </v-timeline>
</template>

<script>
export default {
    props: {
        avaliacoesList: {
            type: Array
        }
    },
    data() {
        return {
            items: [
                {
                    color: "red lighten-2",
                    icon: "mdi-star"
                },
                {
                    color: "purple darken-1",
                    icon: "mdi-book-variant"
                },
                {
                    color: "green lighten-1",
                    icon: "mdi-airballoon"
                },
                {
                    color: "indigo",
                    icon: "mdi-buffer"
                }
            ]
        };
    }
};
</script>

<style></style>
