<template>
    <v-row align="center" justify="center">
        <v-slide-group v-model="model" class="pb-3" mandatory show-arrows>
            <v-slide-item
                v-for="image in listImages"
                :key="image.url"
                v-slot="{ active, toggle }"
            >
                <v-card
                    :color="active ? 'primary' : 'grey lighten-1'"
                    class="ma-4"
                    height="200"
                    width="200"
                    @click="toggle"
                >
                    <v-img
                        class="white--text align-end"
                        height="200px"
                        :src="image.url"
                    >
                        <v-card-title class="caption pt-0 title">{{
                            image.title
                        }}</v-card-title>
                    </v-img>
                    <v-row class="fill-height" align="center" justify="center">
                        <v-scale-transition>
                            <v-icon
                                v-if="active"
                                color="white"
                                size="48"
                                v-text="'mdi-close-circle-outline'"
                            ></v-icon>
                        </v-scale-transition>
                    </v-row>
                </v-card>
            </v-slide-item>
        </v-slide-group>
        <div v-if="!listImages.length">
            <v-card
                color="grey"
                class="ma-4"
                height="200"
                width="200"
                elevation="6"
            >
                <v-img class="white--text align-end" height="200px">
                    <v-card-title class="caption pt-0 title"
                        >Náo há Receitas cadastradas :(</v-card-title
                    >
                </v-img>
            </v-card>
        </div>
    </v-row>
</template>

<script>
export default {
    props: {
        listImages: {
            type: Array
        }
    },
    data() {
        return {
            model: null
        };
    }
};
</script>

<style></style>
