<template>
    <div>
        <div class="pt-3">
            <v-sheet id="scrolling-techniques-2">
                <v-container fluid style="padding-top: 140px;">
                    <image-slide-group :listImages="listImages"/>
                    <p class="headline font-weight-regular mb-0 pl-4 pt-4">
                        Receitas
                    </p>
                    <v-divider class="pb-4"></v-divider>
                    <v-flex class="pl-4 pr-4">
                        <v-row style="min-height:500px">
                            <v-col
                                cols="12"
                                sm="6"
                                lg="3"
                                md="3"
                                v-for="receita in listReceitas"
                                v-bind:key="receita.id"
                            >
                                <card-receita
                                    @note-clicked="handleNoteClicked"
                                    :receita="receita"/></v-col
                        ></v-row> </v-flex
                ></v-container>
            </v-sheet>
            <modal-avaliacao
                @update-show-modal="updateShowModal"
                @submit-avaliacao="handleSubmitAvaliacao"
                :show="showModalAvaliacao"
            />
            <alert-snack-bar :text="textAlertSnack" ref="ref-alert-snack-bar" />
        </div>
    </div>
</template>

<script>
import AppFooter from "./../../components/AppFooter.vue";
import CardReceita from "./../../components/CardReceita.vue";
import ImageSlideGroup from "./../../components/Home/ImageSlideGroup.vue";
import ModalAvaliacao from "./../../components/Home/ModalAvaliacao.vue";
import AuthBar from "./../../components/PageBar.vue";

import ReceitaService from "./../../services/api/ReceitaService";
import AvaliacaoService from "./../../services/api/AvaliacaoService";

import AlertSnackBar from "./../../components/AlertSnackBar.vue";

export default {
    components: {
        AuthBar,
        CardReceita,
        ImageSlideGroup,
        AppFooter,
        ModalAvaliacao,
        AlertSnackBar,
        AlertSnackBar
    },
    data() {
        return {
            key: "value",
            listReceitas: [],

            textAlertSnack: "",

            currentIdReceitaAvaliable: null,

            showModalAvaliacao: false,

            listImages: [],
            headers: [
                {
                    text: "Nome",
                    align: "start",
                    sortable: false,
                    value: "name"
                },
                { text: "Idade", sortable: false, value: "calories" },
                { text: "Peso (g)", sortable: false, value: "fat" },
                { text: "Carbs (g)", sortable: false, value: "carbs" }
            ]
        };
    },
    async mounted() {
        await this.getAllReceitas();
        this.$vuetify.goTo(0);
    },
    methods: {
        getAllReceitas() {
            ReceitaService.getAllReceitas()
                .then(rsp => {
                    console.log("getAllReceitas", rsp);

                    this.listReceitas = rsp.data;
                    this.listImages = this.listReceitas.map(receita => {
                        return {
                            url: receita.image_url,
                            title: receita.title
                        };
                    });
                    console.log("list", this.listImages);
                })
                .catch(error => {});
        },
        handleNoteClicked(idReceita) {
            this.currentIdReceitaAvaliable = idReceita;
            this.showModalAvaliacao = true;
        },
        handleSubmitAvaliacao(avaliacao) {
            const { username, value, comment } = avaliacao;
            AvaliacaoService.storeAvaliacao({
                username: username,
                value: value,
                comment: comment,
                id_receita: this.currentIdReceitaAvaliable
            })
                .then(rsp => {
                    console.log("rsp storeAvaliacao", rsp);
                    this.textAlertSnack =
                        "Sucesso !! Avaliação enviada com sucesso !";
                    this.$refs["ref-alert-snack-bar"].show();
                    this.showModalAvaliacao = false;
                })
                .catch(error => {
                    this.textAlertSnack = "Algo deu errado";
                    this.$refs["ref-alert-snack-bar"].show();
                });
        },
        updateShowModal(payload) {
            payload ? "" : (this.showModalAvaliacao = false);
            payload ? "" : (this.showModalAvaliacao = false);
        }
    },
    computed: {
        //...mapGetters(["isLogged"])
    }
};
</script>

<style lang="scss" scoped>
.scroll::-webkit-scrollbar {
    display: none;
}
</style>
