<template>
    <v-dialog
        v-bind:value="show"
        v-on:input="$emit('update-show-modal', $event)"
        max-width="500px"
        ><v-form ref="form">
            <v-card>
                <v-card-title>
                    Avaliação
                </v-card-title>
                <v-card-text>
                    <v-text-field
                        outlined
                        label="Seu nome"
                        :rules="[v => !!v || 'Valor é obrigatório']"
                        v-model="avaliacao.username"
                    ></v-text-field>
                    <v-textarea
                        label="Deixe seu comentário aqui..."
                        auto-grow
                        outlined
                        rows="3"
                        row-height="25"
                        shaped
                        name="input-7-1"
                        :rules="[v => !!v || 'Valor é obrigatório']"
                        v-model="avaliacao.comment"
                        hint="Hint text"
                    ></v-textarea>
                    <v-select
                        :items="listNotes"
                        :rules="[v => !!v || 'Valor é obrigatório']"
                        v-model="avaliacao.value"
                        label="Nota"
                        item-value="text"
                    ></v-select>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn
                        color="primary"
                        text
                        @click="
                            $refs.form.validate() && handleSubmitAvaliacao()
                        "
                    >
                        Enviar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
</template>

<script>
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            listNotes: [1, 2, 3, 4, 5],
            avaliacao: {
                comment: "",
                username: "",
                value: 5
            }
        };
    },
    watch: {
        show(newValue, oldValue) {
            this.avaliacao = {
                comment: "",
                username: "",
                value: 5
            };
        }
    },
    methods: {
        handleSubmitAvaliacao() {
            this.$emit("submit-avaliacao", this.avaliacao);
        }
    }
};
</script>

<style></style>
