<template>
    <div class="pt-3">
        <div></div>
        <v-sheet id="scrolling-techniques-2">
            <v-container fluid style="padding-top: 130px ">
                <v-flex class="pl-4 pr-4">
                    <v-row class="d-flex justify-center pt-4 mb-6">
                        <v-card min-height="250px" flat tile>
                            <v-card class="pa-2" outlined tile>
                                <v-img
                                    v-if="currentReceita"
                                    height="305px"
                                    width="305px"
                                    :src="currentReceita.image_url"
                                ></v-img>
                                <div v-else>
                                    <v-progress-circular
                                        indeterminate
                                        color="primary"
                                    ></v-progress-circular>
                                </div>
                            </v-card>
                        </v-card>
                    </v-row>
                    <v-card min-height="160px" flat tile>
                        <v-card
                            color="#EBCF98"
                            rounded="20"
                            v-if="currentReceita"
                            class="pa-2"
                            outlined
                        >
                            <v-card-title class="text-h5 ">
                                {{ currentReceita.title }}
                            </v-card-title>
                            <v-card-text class="text-h6">
                                {{ currentReceita.description }}
                            </v-card-text>
                        </v-card>
                        <div v-else></div>
                    </v-card>
                    <v-card color="#EBCF98" class="my-5" min-height="305px">
                        <v-card-title>
                            <span class="text-h6 font-weight-light"
                                >Comentários</span
                            >
                        </v-card-title>
                        <avaliacoes-time-line
                            :avaliacoesList="avaliacoesListTimeLine"
                        />
                    </v-card>
                </v-flex>
            </v-container>
        </v-sheet>
        <alert-snack-bar :text="textAlertSnack" ref="ref-alert-snack-bar" />
    </div>
</template>

<script>
import AppFooter from "./../../components/AppFooter.vue";
import CardReceita from "./../../components/CardReceita.vue";
import ImageSlideGroup from "./../../components/Home/ImageSlideGroup.vue";
import ModalAvaliacao from "./../../components/Home/ModalAvaliacao.vue";
import AuthBar from "./../../components/PageBar.vue";

import ReceitaService from "./../../services/api/ReceitaService";

import AlertSnackBar from "./../../components/AlertSnackBar.vue";
import AvaliacoesTimeLine from "./AvaliacoesTimeLine.vue";

export default {
    components: {
        AuthBar,
        CardReceita,
        ImageSlideGroup,
        AppFooter,
        ModalAvaliacao,
        AlertSnackBar,
        AvaliacoesTimeLine,
        AlertSnackBar
    },
    data() {
        return {
            key: "value",
            idReceita: null,
            textAlertSnack: "",
            currentReceita: null,
            listAvaliacoes: [],
            commentsListTimeLine: [],
            avaliacoesListTimeLine: []
        };
    },
    async mounted() {
        this.idReceita = this.$route.params.id;
        await this.getAllAvaliacaoReceita();
        await this.getReceita();
        this.$vuetify.goTo(0);
    },
    methods: {
        getAllAvaliacaoReceita() {
            ReceitaService.getAllAvaliacaosReceita(this.idReceita)
                .then(rsp => {
                    this.avaliacoesListTimeLine = rsp.data;
                })
                .catch(error => {});
        },
        getReceita() {
            ReceitaService.getReceita(this.idReceita)
                .then(rsp => {
                    console.log("getReceita", rsp);
                    this.currentReceita = rsp.data;
                })
                .catch(error => {});
        }
    },
    computed: {
        //...mapGetters(["isLogged"])
    }
};
</script>

<style lang="scss" scoped>
.scroll::-webkit-scrollbar {
    display: none;
}
</style>
